@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Salsa&display=swap');

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #f6f8fd;

    --card: #ffffff;
    --card-foreground: #f6f8fd;

    --popover: #ffffff;
    --popover-foreground: #cfe2fd;

    --primary: #dc0606;
    --primary-foreground: #fcfcfc;

    --secondary: #0022b9;
    --secondary-foreground: #f1f1f2;

    --muted: #b91c1c;
    --muted-foreground: #fef2f2;

    --accent: #002fff;
    --accent-foreground: #cfe2fd;

    --destructive: #ff0000;
    --destructive-foreground: #d4d4d4;

    --border: #d9eaf5;
    --input: #d9eaf5;
    --ring: #f6f8fd;

    --radius: 0.5rem;
  }

  .dark {
    --background: #00003b;
    --foreground: #00002d;

    --card: #010b46;
    --card-foreground: #fdfdfd;

    --popover: #8a86ab;
    --popover-foreground: #bbc5de;

    --primary: #dc0606;
    --primary-foreground: #f9f9f9;

    --secondary: #0022b9;
    --secondary-foreground: #dde9ff;

    --muted: #dc0606a0;
    --muted-foreground: #e9a5a5;

    --accent: #002fff;
    --accent-foreground: #3764b4;

    --destructive: #ff0000;
    --destructive-foreground: #d4d4d4;

    --border: #0029df;
    --input: #0029df;
    --ring: #0029df;

    --radius: 0.5rem;
  }
}

* {
  list-style: none;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-poppins);
}

.filter-slate {
  filter: brightness(0) saturate(100%) invert(47%) sepia(0%) saturate(217%) hue-rotate(32deg)
    brightness(98%) contrast(92%);
}

/* ========================================== TAILWIND STYLES */
@layer utilities {
  .wrapper {
    @apply max-w-7xl lg:mx-auto p-5 md:px-10 xl:px-0 w-full;
  }

  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-between {
    @apply flex justify-between items-center;
  }

  /* TYPOGRAPHY */
  /* 64 */
  .h1-bold {
    font-family: 'Salsa', cursive;
    @apply font-bold text-[40px] leading-[48px] lg:text-[48px] lg:leading-[60px]  xl:text-[58px] xl:leading-[74px];
  }

  /* 40 */
  .h2-bold {
    font-family: 'Salsa', cursive;
    @apply font-bold text-[32px] leading-[40px] lg:text-[36px] lg:leading-[44px] xl:text-[40px] xl:leading-[48px];
  }

  .h2-medium {
    font-family: 'Salsa', cursive;
    @apply font-medium text-[32px] leading-[40px] lg:text-[36px] lg:leading-[44px] xl:text-[40px] xl:leading-[48px];
  }

  /* 36 */
  .h3-bold {
    font-family: 'Salsa', cursive;
    @apply font-bold text-[28px] leading-[36px] md:text-[36px] md:leading-[44px];
  }

  .h3-medium {
    font-family: 'Salsa', cursive;
    @apply font-medium text-[28px] leading-[36px] md:text-[36px] md:leading-[44px];
  }

  /* 32 */
  .h4-medium {
    @apply font-medium text-[32px] leading-[40px];
  }

  /* 28 */
  .h5-bold {
    @apply font-bold text-[28px] leading-[36px];
  }

  /* 24 */
  .p-bold-24 {
    @apply font-bold text-[24px] leading-[36px];
  }

  .p-medium-24 {
    @apply font-medium text-[24px] leading-[36px];
  }

  .p-regular-24 {
    @apply font-normal text-[24px] leading-[36px];
  }

  /* 20 */
  .p-bold-20 {
    @apply font-bold text-[20px] leading-[30px] tracking-[2%];
  }

  .p-semibold-20 {
    @apply text-[20px] font-semibold leading-[30px] tracking-[2%];
  }

  .p-medium-20 {
    @apply text-[20px] font-medium leading-[30px];
  }

  .p-regular-20 {
    @apply text-[20px] font-normal leading-[30px] tracking-[2%];
  }

  /* 18 */
  .p-semibold-18 {
    @apply text-[18px] font-semibold leading-[28px] tracking-[2%];
  }

  .p-medium-18 {
    @apply text-[18px] font-medium leading-[28px];
  }

  .p-regular-18 {
    @apply text-[18px] font-normal leading-[28px] tracking-[2%];
  }

  /* 16 */
  .p-bold-16 {
    @apply text-[16px] font-bold leading-[24px];
  }

  .p-medium-16 {
    @apply text-[16px] font-medium leading-[24px];
  }

  .p-regular-16 {
    @apply text-[16px] font-normal leading-[24px];
  }

  /* 14 */
  .p-semibold-14 {
    @apply text-[14px] font-semibold leading-[20px];
  }

  .p-medium-14 {
    @apply text-[14px] font-medium leading-[20px];
  }

  .p-regular-14 {
    @apply text-[14px] font-normal leading-[20px];
  }

  /* 12 */
  .p-medium-12 {
    @apply text-[12px] font-medium leading-[20px];
  }

  .logo {
    font-family: 'Salsa', cursive;
  }
  /* SHADCN OVERRIDES */
  .select-field {
    @apply text-slate-900 w-full bg-slate-50 h-[54px] placeholder:text-slate-500 rounded-full p-regular-16 px-5 py-3 border-none focus-visible:ring-transparent focus:ring-transparent drop-shadow-[1px_1px_1px_rgba(250,250,250,1)] shadow-inner shadow-slate-300 !important;
  }

  .input-field {
    @apply text-slate-900 bg-slate-100 h-[54px] focus-visible:ring-offset-0 placeholder:text-slate-500 rounded-full p-regular-16 px-4 py-3 border-none focus-visible:ring-transparent drop-shadow-[1px_1px_1px_rgba(250,250,250,1)] shadow-inner shadow-slate-300 !important;
  }

  .textarea {
    @apply text-slate-900 bg-slate-100 flex flex-1 placeholder:text-slate-500 p-regular-16 px-5 py-3 border-none focus-visible:ring-transparent drop-shadow-[1px_1px_1px_rgba(250,250,250,1)] shadow-inner shadow-slate-300 !important;
  }

  .button {
    @apply rounded-full h-[46px] p-regular-16;
  }

  .select-item {
    @apply text-slate-900 py-3 cursor-pointer  focus:bg-primary-50;
  }

  .toggle-switch {
    @apply bg-slate-300 !important;
  }
}

/* ================ CLERK STYLES ================ */

.dev-banner {
  background-color: var(--primary);
}

.cl-internal-hegiim {
  background-color: var(--primary);
}

.cl-logoImage {
  height: 38px;
}

.cl-userButtonBox {
  flex-direction: row-reverse;
}

.cl-userButtonOuterIdentifier {
  font-size: 16px;
}

.cl-userButtonPopoverCard {
  right: 4px !important;
}

.cl-formButtonPrimary {
  background-color: var(--primary);
}

.cl-formButtonPrimary:hover,
.cl-formButtonPrimary:focus,
.cl-formButtonPrimary:active {
  background-color: var(--primary);
}

.cl-footerActionLink {
  color: var(--primary);
}
.cl-footerActionLink:hover,
.cl-footerActionLink:focus {
  color: var(--primary);
}

.cl-userButtonTrigger .cl-avatarBox.cl-userButtonAvatarBox {
  width: 2.5rem;
  height: 2.5rem;
  --tw-ring-color: var(--primary);
}

/* ================== REACT-DATEPICKER STYLES ======================== */
.datePicker {
  width: 100%;
}

.react-datepicker__input-container input {
  background-color: transparent;
  width: 100%;
  outline: none;
  margin-left: 16px;
}

.react-datepicker__day--selected {
  background-color: var(--primary) !important;
  color: #ffffff !important;
  border-radius: 4px;
}

.react-datepicker__time-list-item--selected {
  background-color: var(--primary) !important;
}

.react-datepicker__header.react-datepicker__header--has-time-select,
.react-datepicker__header.react-datepicker__header--time {
  background-color: var(--primary) !important;
}

.react-datepicker__day--today {
  color: var(--primary) !important;
}

.react-datepicker__day--selected.react-datepicker__current-month,
.react-datepicker__current-month,
.react-datepicker__day-name,
.react-datepicker-time__header,
.react-datepicker__day--selected {
  color: #ffffff !important;
}
